<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>PÁGINA DE RESERVAS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Reservas</h1>
    <ul>
        <% for( let r of reservas ) { %>
            <li> ID da reserva: <%=r.ID_Reserva%> | Nome do professor: <b><%=r.Nome%></b>
                <br> 

                <ul>

                    <li> Sala: <%=r.Sala%></li>

                    <li> Curso: <%=r.Curso%></li>

                    <li> Dia: <%=new Date(r.Dia).toLocaleDateString('pt-BR') %></li>

                    <li> Prontuário do professor: <%=r.Professor%></li>

                    <li> 
                        Início: <%=r.Inicio%>
                        <br/>
                        Fim: <%=r.Fim%>
                    
                    </li>

                    <li> Descrição da aula: <%=r.Descricao%></li>

                    <li> Sala: <%=r.Sala%></li>

                </ul>

            </li>
            <br/>
        <% } %>
    </ul>
    

    <a href="/reservas/nova">Nova reserva</a>
    <a href="/usuarios/logoff">Logoff</a>
</body>
</html>

<!--

Mostra todas as reservas feitas, com todas as informações de cada
reserva e nome do usuário que a fez.

-->